[Desktop Entry]
Version=0.5.0
Type=Application
Name=HeelonVault
Comment=Secure secret manager (Rust edition)
Exec=/opt/heelonvault/run.sh
Icon=heelonvault
Terminal=false
Categories=Utility;Security;
Keywords=security;secret;encryption;vault;rust;
StartupNotify=true
StartupWMClass=org.heelonys.heelonvault
