[Desktop Entry]
Version=0.1.0-Bêta
Type=Application
Name=Password Manager
Comment=Gestionnaire de mots de passe sécurisé (Multi-utilisateurs)
Exec=/home/ppaadmin/Vscode/Gestionnaire_mot_passe/run-dev.sh
Icon=dialog-password
Terminal=false
Categories=Utility;Security;
Keywords=password;security;encryption;vault;
StartupNotify=true
StartupWMClass=password-manager
